*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  block-size: 100%;
  max-width: 1440px;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  justify-content: center; 
  align-content: center; 
  height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: grid;
  align-items: end; 
  grid-auto-flow: row;
  grid-template-columns: 3fr 1fr;
  
}

.result {
  align-items: end;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: auto;
}

.result__video-container {
  width: 711px;
  position: relative;
  height: 386px;
  margin-bottom: 16px;
  
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
}

.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex; 
  align-items: flex-start; 
}

.content__video-card-thumbnail {
  flex: 0 0 auto; 
  width: 194px; 
  height: 103px; 
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1; 
}


.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: inline-flex;
  width: 100%;
}

.search-form__textfield {
  cursor: pointer;
  width: 100%;
  appearance: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none; 
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
  background: transparent; 
  padding: 2, 5px, 0; 
  outline: none;
  margin: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox {
  cursor: pointer;
  appearance: none;
}

.search-form__checkbox-list {
  display: inline-flex;
  width: 100%;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  background-color: transparent;
  outline: white 2px solid;
  outline-offset: 2px;
  width: 15px;
  height: 15px;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  color: #ffffff; 
  border-radius: 0; 
  border: 1px solid #fff;
  height: 34px;
  align-self: end;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px; 
  font-weight: 700;
}

.button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
  height: 34px;
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff; 
  border-radius: 0; 
  border: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background-color: #fff;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
}

.search-form__textfield:not(:placeholder-shown) {
  border: 1px solid white;
}

.content__card-link:active {
  background-color: #545050;
}

.search-form__label > .search-form__textfield:hover {
  cursor: text;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}